@use "sass:color";
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "SGKara";
  src: url(../src/assets/fonts/Gandom.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}

$color_primary: #083852;
$color_secondary: color.scale($color_primary, $lightness: 20%);
$color_text: rgb(255, 255, 255);
$color_darkprime: color.scale($color_primary, $blackness: 100%);
$color_back: #cecece;
$color_success: #3c69a5;
$color_feeler: rgb(96, 34, 69);
$color_grey: rgb(112, 112, 112);

body {
  font-family: "SGKara", "sans-serif";
  background-color: $color_darkprime;
}

.logo {
  width: 15rem;
  height: 2rem;
}

.navbar {
  background: linear-gradient(to right, $color_primary, $color_secondary);
  color: $color_text;
  border-radius: 2rem;
  margin: 1rem;
  overflow: hidden;
  box-shadow: 0px 1px 10px $color_secondary;
  .nav-item {
    padding: 1rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    width: 7rem;
    text-align: center;
    &:hover {
      background-color: $color_darkprime;
    }
  }
  .active-nav {
    background-color: $color_darkprime;
  }
}

.new-container {
  max-width: 80%;
  background-color: $color_back;
  margin: auto;
  padding: 20px;
  margin-bottom: 1rem;
  border-radius: 1rem;
  direction: rtl;
}

.new-header {
  text-align: center;
  margin-bottom: 20px;
  border-bottom: 1px solid color.scale($color_back, $blackness: 100%);
}

.default-inputs {
  background-color: color.scale($color_darkprime, $lightness: 70%);
  border-radius: 1rem;
  &:focus {
    box-shadow: 0px 3px 3px color.scale($color_primary, $lightness: 40%);
  }
}
.new-footer {
  text-align: right;
  margin-top: 20px;
  padding-top: 1rem;
  display: flex;
  border-top: 1px solid color.scale($color_back, $blackness: 100%);
  gap: 0.5rem;

  button {
    background-color: $color_success;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: color.scale($color_success, $lightness: 30%);
    }
  }
}

.step-guide {
  display: flex;
  width: 50%;
  gap: 0.5rem;
  margin: auto;
  margin-bottom: 1rem;
  text-align: center;
  border-radius: 10px;
  direction: rtl;
  background-color: color.scale($color_darkprime, $lightness: 17%);
}

.step-item {
  flex: 1;
  padding: 8px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: background-color 0.3s;
  &:hover {
    background-color: #e0e0e0;
  }

  &.active {
    background-color: $color_primary;
    color: #fff;
    font-weight: bold;
  }
}


.select-options {
  width: 100%;
  direction: rtl;
  justify-content: space-around;
}

.select-section {
  display: flex;
  justify-content: space-around;

  .select-section-item {
    width: 10rem;
    height: 2rem;
    text-align: center;
    align-items: center;
    border-radius: 1rem;
    background-color: color.scale($color_darkprime, $lightness:50%);
    color: $color_back;
    cursor: pointer;
    padding-top: 0.2rem;

    &.active {
      background-color: $color_feeler;
    }
  }
}

.order-header {
  display: grid;
  grid-template-columns: 7% repeat(6, 16%);
  text-align: center;
  background-image: linear-gradient(to right, $color_primary, $color_secondary);
  color: $color_back;
  border-radius: 1rem;
  margin-bottom: 1rem;
}

.order-items {
  display: grid;
  grid-template-columns: 7% repeat(6, 16%);
  text-align: center;
  background-color: $color_grey;
  height: 3rem;
  padding-top: 0.8rem;
  cursor: pointer;
  color: $color_text;
  border-bottom: 1px solid $color_darkprime;
  margin-bottom: 1rem;

  h4 {
    direction: ltr;
  }
}